  <div class="book">
    <% if !livro.thumbnail.attached? %>
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQsUiRwyL96U7lcdeLLCt10yPwFbqSUyuqMjBa5NNZC_40qkyyE",
      class: "book-img" %>
    <% else %>
      <%= link_to image_tag(livro.thumbnail, class: "card-img-top img-fluid book-img"), livro %>
      <%#= image_tag(livro.thumbnail, class: "card-img-top img-fluid book-img")%>
    <% end %>

    <div class="book-info">
      <h2><%= livro.nome %></h2>
      <p>
        por <strong><%= livro.autor %></strong>
      </p>
      <p class="mt-2 book-desc">
        <%= truncate(livro.descricao, length: 160, omission: " ... %s") % link_to('Ler mais', livro_path(livro))  %>
      </p>
      <div class="text-center">
        <% if user_add_estante?(current_user, livro) && user_signed_in? %>
        <%= link_to '- Estante', add_livro_path(livro, tipo: 'del'), method: :put, class: "btn btn-danger" %>
        <% else %>
        <%= link_to '+ Estante', add_livro_path(livro, tipo: 'add'), method: :put, class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
