<%= render 'menuprincipal' %>
<br>
<% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

<% if notice %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
<br>
<h1 class="text-center">Livros cadastrados</h1>
<br>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Autor</th>
        <th>Editora</th>
        <th>Assunto</th>
        <th>Quantidade</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @livros.order(nome: :asc).each do |livro| %>
        <tr>
          <td><%= livro.nome %></td>
          <td><%= livro.autor %></td>
          <td><%= livro.editora %></td>
          <td><%= livro.assunto %></td>
          <td><%= livro.quantidade %></td>
          <td><%= link_to 'Ver', livro %></td>
          <td><%= link_to 'Editar', edit_livro_path(livro) %></td>
          <td><%= link_to 'Apagar', livro, method: :delete, data: { confirm: 'Tem certeza que deseja apagar o livro selecionado?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <h3>Teste de pesquisa</h3><br>
  <%= search_form_for @q do |f| %>
    <%= f.label :nome %>
    <%= f.search_field :nome_cont %>
    <%= f.submit %>
  <% end %>
  <br>
  <div class="text-center">
    <%= link_to 'Cadastrar novo livro', new_livro_path, class:"txt-link btn btn-primary" %>
  </div>
</div>
<br>
