<p id="notice"><%= notice %></p>

<h1 class="text-center">Livros</h1>
<br>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Autor</th>
        <th>Editora</th>
        <th>Assunto</th>
        <th>Quantidade</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @livros.each do |livro| %>
        <tr>
          <td><%= livro.nome %></td>
          <td><%= livro.autor %></td>
          <td><%= livro.editora %></td>
          <td><%= livro.assunto %></td>
          <td><%= livro.quantidade %></td>
          <td><%= link_to 'Ver', livro %></td>
          <td><%= link_to 'Editar', edit_livro_path(livro) %></td>
          <td><%= link_to 'Apagar', livro, method: :delete, data: { confirm: 'Tem certeza que deseja apagar
          o livro selecionado?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Cadastrar novo livro', new_livro_path %>
