  <div class="card mt-3">
    <h2 class="card-header"><%= @livro.nome %></h2>
    <div class="card-body card-txt">
      <p class="card-text"><b>Nome do livro: </b><%= @livro.nome %></p>
      <p class="card-text"><b>Autor: </b><%= @livro.autor %></p>
      <p class="card-text"><b>Editora: </b><%= @livro.editora %></p>
      <p class="card-text"><b>Assunto: </b><%= @livro.assunto %></p>
      <p class="card-text"><b>Quantidade disponível: </b><%= @livro.quantidade %></p>
      <%= link_to 'Cadastrar novo livro', new_livro_path, class: "btn btn-primary" %>
    </div>
  </div>
  <br>
  <%= link_to 'Editar', edit_livro_path(@livro), class:"txt-link" %> |
  <%= link_to 'Voltar', livros_path, class:"txt-link" %>
